{{- $devcontainer := or (env "CODESPACES") (env "REMOTE_CONTAINERS") -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "wsl") (not $devcontainer) -}}

{{- $gitName := "Alberto Ponces" -}}
{{- $gitEmail := "ponces26@gmail.com" -}}
{{- $cmfEnabled := false -}}

{{- $tokenPath := joinPath .chezmoi.homeDir ".config" "cmfportal" "cmfportaltoken" -}}
{{- if (stat $tokenPath) -}}
{{-     $cmfEnabled = true -}}
{{-     $gitEmail = (output "jq" "-rR" "split(\".\") | .[1] | @base64d | fromjson | .sub" $tokenPath) | lower | trim -}}
{{- end }}

[data.git]
    name = {{ $gitName | quote }}
    email = {{ $gitEmail | quote }}

[data.windows]
    isWSL = {{ $isWSL | toToml }}

[data.cmf]
    enabled = {{ $cmfEnabled | toToml }}
