{{- $devcontainer := or (env "CODESPACES") (env "REMOTE_CONTAINERS") -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") (not $devcontainer) -}}

{{- $gitName := "" -}}
{{- $gitEmail := "" -}}
{{- $cmfEnabled := false -}}

{{- if not $devcontainer -}}
{{-     $gitName = promptStringOnce . "name" "What is your Git name" "Alberto Ponces" -}}
{{-     $gitEmail = promptStringOnce . "email" "What is your Git email" "ponces26@gmail.com" -}}
{{-     $cmfEnabled = and (lookPath "rbw" | isExecutable) (promptBoolOnce . "enabled" "Do you want to initialise configuration for CMF" false) -}}
{{-     if $cmfEnabled -}}
{{-         $rbwIdentityFields := (rbwFields "item" "6fb5739a-e6a5-4bcb-9db2-b213007907fc") }}
{{-         $gitEmail = $rbwIdentityFields.WorkEmail.value -}}
{{-     end -}}
{{- else -}}
{{-     $gitName = "Alberto Ponces" -}}
{{-     $gitEmail = "ponces26@gmail.com" -}}
{{-     $cmfEnabled = false -}}
{{- end }}

[data]
    devcontainer = {{ $devcontainer | toToml }}

[data.git]
    name = {{ $gitName | quote }}
    email = {{ $gitEmail | quote }}

[data.windows]
    isWSL = {{ $isWSL | toToml }}

[data.cmf]
    enabled = {{ $cmfEnabled | toToml }}
