[alias]
	alias = "!git config --get-regexp '^alias\\.' | sed 's/^alias\\.//;s/ / = /'"
	amend = commit --amend --no-edit
	pushfwl = push --force-with-lease
	co = checkout
	cob = checkout -b
{{- if .cmf.enabled }}
	cobc = "!f() { \
		if [ -z \"$1\" ]; then \
			echo 'Usage: git cobc <workitem-id>'; \
			return 1; \
		fi; \
		export REQUESTS_CA_BUNDLE=\"$HOME/.local/share/azure-cli/ca-certificates.crt\"; \
		if [ ! -z \"$(git remote -v | grep criticalmanufacturing)\" ]; then \
			opts=\"--org https://tfs-product.cmf.criticalmanufacturing.com/Products\"; \
		fi; \
		TITLE=$(az boards work-item show --id \"$1\" $opts --query 'fields.\"System.Title\"' -o tsv 2>/dev/null); \
		if [ -z \"$TITLE\" ]; then \
			echo \"Work item not found.\"; \
			return 1; \
		fi; \
		BASE=\"$(git rev-parse --abbrev-ref HEAD)\"; \
		if echo \"$BASE\" | grep -q '/'; then \
			PREFIX=\"$(echo $BASE | sed 's/dev/feature/g')/\"; \
			BASE=\"dev\"; \
		elif echo \"$BASE\" | grep -q '-'; then \
			PREFIX=\"\"; \
			BASE=\"$(echo $BASE | cut -d'-' -f1)\"; \
		fi; \
		SANITIZED=$(echo \"$TITLE\" | tr '[:upper:]' '[:lower:]' | sed -E 's/[^a-z0-9]+/-/g' | sed -E 's/^-+|-+$//g'); \
		git checkout -b \"${PREFIX}${BASE}-$1-$SANITIZED\"; \
	}; f"
{{- end }}
	discard = reset HEAD --hard
	fixup = "!f() { git log --oneline --no-merges | fzf | awk '{print $1}' | xargs git commit --fixup; }; f"
	root = rev-parse --show-toplevel
	st = status
	squash = "!f() { git log --oneline --no-merges | fzf | awk '{print $1}' | xargs git commit --squash; }; f"
	sub = submodule update --init --recursive
	lg = log --color --graph --pretty=format:'%C(auto)%h%d %s %C(black)%C(bold blue)%an %C(bold green)(%cr)' --abbrev-commit
	ri = rebase --interactive --autosquash
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
	wip = "!f() { git add . && git commit -m wip -n; }; f"
[color]
	ui = auto
[core]
	editor = nano
{{- if .windows.isWSL }}
	sshCommand = "ssh.exe"
{{- end }}
{{- if eq .chezmoi.os "windows" }}
	sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{- end }}
[credential]
	helper = store
[fetch]
	prune = true
	pruneTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if eq .chezmoi.os "windows" }}
[http]
	sslBackend = schannel
{{- end }}
[oh-my-zsh]
	hide-dirty = 1
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
[safe]
	directory = *
[user]
	name = {{ .git.name | quote }}
	email = {{ .git.email | quote }}
