[alias]
	alias = "!git config --get-regexp '^alias\\.' | sed 's/^alias\\.//;s/ / = /'"
	amend = commit --amend --no-edit
	co = checkout
	cob = checkout -b
{{- if .cmf.enabled }}
	cobc = "!f() { \
		[ -z \"$1\" ] && echo 'Usage: git cobc <workitem-id>' && return 1; \
		branch=$(curl -sfSL https://go.ponces.dev/azwi | bash -s -- \"$1\" --branch); \
		[ ! -z \"$branch\" ] && git checkout -b \"$branch\"; \
	}; f"
{{- end }}
	delete = "!f() { git branch -v | fzf | awk '{print $1}' | xargs git branch --delete --force; }; f"
	discard = reset HEAD --hard
	fixup = "!f() { git log --oneline --no-merges | fzf | awk '{print $1}' | xargs git commit --fixup; }; f"
	lg = log --color --graph --pretty=format:'%C(auto)%h%d %s %C(black)%C(bold blue)%an %C(bold green)(%cr)' --abbrev-commit
	pushfwl = push --force-with-lease
	ri = rebase --interactive --autosquash
	root = rev-parse --show-toplevel
	squash = "!f() { git log --oneline --no-merges | fzf | awk '{print $1}' | xargs git commit --squash; }; f"
	st = status
	sub = submodule update --init --recursive
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
	wip = "!f() { git add . && git commit -m wip -n; }; f"
[color]
	ui = auto
[core]
	editor = nano
{{- if .windows.isWSL }}
	sshCommand = "ssh.exe"
{{- end }}
{{- if eq .chezmoi.os "windows" }}
	sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{- end }}
[credential]
	helper = store
[fetch]
	prune = true
	pruneTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
{{- if eq .chezmoi.os "windows" }}
[http]
	sslBackend = schannel
{{- end }}
[oh-my-zsh]
	hide-dirty = 1
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoSquash = true
	autoStash = true
[safe]
	directory = *
[user]
	name = {{ .git.name | quote }}
	email = {{ .git.email | quote }}
