{{- $rbwTelegramApiId := "" -}}
{{- $rbwTelegramApiHash := "" -}}

{{- if (and (ne .chezmoi.os "android") (not .devcontainer)) -}}
{{-     $rbwTelegramFields := (rbwFields "item" "8a027f64-1559-49e8-9973-af1701773899") -}}
{{-     $rbwTelegramApiId = $rbwTelegramFields.ApiId.value -}}
{{-     $rbwTelegramApiHash = $rbwTelegramFields.ApiHash.value -}}
{{- end -}}

{"api_id": {{ $rbwTelegramApiId | quote }}, "api_hash": {{ $rbwTelegramApiHash | quote }}}
